*{margin:0; padding:0;}

body{font:0.76em Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:center;color:#323232;background:#ededed url(./images/font.png) repeat-x center top;}

#container {background:#fff;border:0.1em solid #777;color:#323232;margin:2em auto;text-align:left;width:65em}

#header{height:10.1em;width:63.8em;background:#336699;color:#fff;border:0.1em solid #2F4A6C;margin:0.5em;}
#title{font-size:2.3em;margin-left:2em;}
#subtitle{font-size:1.2em;;margin-left:5em;font-style:italic;}

#navigation{float:right;display: block;margin: 0px;padding:0px;margin-left:20px;line-height:2.1em;color:#ccc;margin-right:0.5em;white-space:nowrap;}
#navigation li{list-style-type:none;white-space:nowrap;}
#navigation li a{display:block;width:17em;padding:0 0.6em;font-size:0.8em;font-weight:normal;text-transform:uppercase;text-decoration:none;color: #444;border:0.1em solid #ddd;margin-bottom:0.2em;text-align:center;background-color:#eee;}
#navigation li a:hover{color:#fff;text-decoration:none;background-color:#669933;border:0.1em solid #558822;}

#content {font-size:0.9em;margin-right:15em;padding:1em 3em 3em}
#content h2{margin:0 0 0.3em -0.9em;font-size:1.7em;font-weight:normal;letter-spacing:-1px;color:#222;}
#content h3{margin:0.7em 0 0.3em -0.6em; font-size:1.4em; letter-spacing:-1px;color:#222;font-weight:normal;}
#content a{color:#336699;font-weight:bold;text-decoration:none;}
#content a:hover{color:#336699;text-decoration:underline;}
#content img {padding:1px;margin-right:6px;margin-left:6px;border:0.1em solid #777}

table {border:1px solid #336699;border-collapse:collapse}
table th {background-color:#336699;border:1px solid #2F4A6C;color:#fff;padding:4px}
table td {background-color:#fff;border:1px solid #336699;color:#323232;padding:4px;text-align:left;}

input,textarea,select {background-color:#FAFAFA;border:1px solid #ccc;color:#323232;font-family:Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;font-size:11px;padding:0.2em}
input:focus,textarea:focus {background-color:#FFF;border:1px solid #336699;color:#2F4A6C}


#footer{clear:both;width:63.8;margin-top:1em;padding:0.4em 0;font-size:0.9em;color:#f0f0f0;background:#336699;margin:0.5em;border:0.1em solid #2F4A6C;text-align:center;}
#footer a{color:#f0f0f0; background-color:inherit; font-weight:bold;}
#footer a:hover{color:#fff; text-decoration: underline;}
